<div class="pb-4 py-8 px-4">
  <h1 class="text-center text-5xl text-gray-600 pb-8">
    Login <span class="text-orange-500">user</span>
  </h1>
  <form
    class="m-auto md:w-3/4 lg:w-1/2"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >
    <div>
      <label for="email">Email:</label>
      <input
        type="text"
        id="email"
        placeholder="write your email"
        formControlName="email"
        class="rounded-md bg-white w-full p-3 mb-3 outline-orange-500 cursor-pointer transition-colors"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        placeholder="Write your password"
        formControlName="password"
        class="rounded-md bg-white w-full p-3 mb-3 outline-orange-500 cursor-pointer transition-colors"
        required
      />
    </div>
    <div class="mb-3" *ngIf="error">
      <p class="text-red-600">An error has ocurred</p>
      <ul class="pl-8">
        <li class="text-red-600 list-disc">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="flex justify-end">
      <button
        type="submit"
        class="rounded-full w-full sm:w-1/2 md:w-1/3 lg:w-auto bg-orange-500 hover:bg-orange-600 disabled:opacity-70 disabled:bg-orange-500 py-2 px-5 lg:px-8 text-white"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
    <div class="flex justify-end mt-8">
      <p>
        Don't have an account? Register
        <a
          class="text-orange-600 underline"
          [routerLink]="['/', 'login', 'registration']"
          >here</a
        >
      </p>
    </div>
  </form>
</div>
