<div class="bg-gray-300 min-h-full pb-4 py-8 px-4">
  <h1 class="text-center text-5xl text-gray-600 pb-8">
    Welcome to the <span class="text-orange-500">Shop</span>
  </h1>
  <div class="w-full m-auto md:w-3/4 lg:w-1/2 flex flex-col justify-center">
    <input
      [formControl]="queryControl"
      (keyup.enter)="goToResults()"
      type="search"
      placeholder="Search for a product by title..."
      class="rounded-full bg-white w-full p-3 outline-orange-500 cursor-pointer transition-colors"
    />
    <div class="w-full drop-shadow-md bg-white rounded-md mt-2">
      <ul>
        <ng-container
          *ngFor="let product of products$ | async; trackBy: trackByFn"
        >
          <li
            class="py-2 px-4 cursor-pointer hover:bg-gray-200"
            (click)="selectResult(product.title)"
          >
            {{ product.title }}
          </li>
          <hr class="mx-3" />
        </ng-container>
      </ul>
    </div>
  </div>
</div>
