<div class="pb-4 py-8 px-4">
  <h1 class="text-center text-5xl text-gray-600 pb-8">
    Virtual <span class="text-orange-500">Shop</span>
  </h1>
  <div class="w-full m-auto md:w-3/4 lg:w-1/2 flex flex-col justify-center">
    <input
      #search
      [formControl]="queryControl"
      (keyup.enter)="goToResults()"
      type="search"
      placeholder="Search for a product by title..."
      class="rounded-full bg-white w-full p-3 outline-orange-500 cursor-pointer transition-colors"
    />
    <div class="w-full relative mt-2">
      <ul class="w-full absolute drop-shadow-md bg-white rounded-md">
        <ng-container
          *ngFor="
            let product of products$ | async;
            trackBy: trackByFn;
            let first = first;
            let last = last
          "
        >
          <li
            class="py-2 px-4 cursor-pointer hover:bg-orange-500 hover:text-white rounded-t-md"
            [class.rounded-t-md]="first"
            [class.rounded-b-md]="last"
            (click)="selectResult(product.title)"
          >
            {{ product.title }}
          </li>
          <hr class="mx-3" *ngIf="!last" />
        </ng-container>
      </ul>
    </div>
  </div>
  <p class="w-full m-auto md:w-3/4 lg:w-1/2 text-center mt-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero
    voluptates, illo perspiciatis totam veritatis? Dolorem adipisci asperiores,
    odit sapiente quasi cupiditate voluptatem tempora ipsam suscipit
    voluptatibus in similique atque magni quos excepturi. Nihil nemo possimus
    reiciendis perspiciatis. Eos doloribus, iste, delectus animi fugit libero
    nobis nam ad asperiores magni dignissimos quas distinctio cumque labore
    earum, unde iure sit enim tenetur aspernatur?
  </p>
  <h2 class="text-xl mt-8 mb-6">
    Explore our <span class="text-orange-500">categories</span>
  </h2>
  <ng-container *ngIf="categories$ | async as categories">
    <app-gallery
      [images]="categories!"
      (clickedImageIndex)="goToCategory(categories![$event].id)"
    />
  </ng-container>
</div>
