<div class="pb-4 py-8 px-4">
  <h1 class="text-center text-5xl text-gray-600 pb-8">
    Welcome to the <span class="text-orange-500">Shop</span>
  </h1>
  <div class="w-full m-auto md:w-3/4 lg:w-1/2 flex flex-col justify-center">
    <input
      [formControl]="queryControl"
      (keyup.enter)="goToResults()"
      type="search"
      placeholder="Search for a product by title..."
      class="rounded-full bg-white w-full p-3 outline-orange-500 cursor-pointer transition-colors"
    />
    <div class="w-full drop-shadow-md bg-white rounded-md mt-2">
      <ul>
        <ng-container
          *ngFor="let product of products$ | async; trackBy: trackByFn"
        >
          <li
            class="py-2 px-4 cursor-pointer hover:bg-gray-200"
            (click)="selectResult(product.title)"
          >
            {{ product.title }}
          </li>
          <hr class="mx-3" />
        </ng-container>
      </ul>
    </div>
  </div>
  <p class="w-full m-auto md:w-3/4 lg:w-1/2 text-center mt-20">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum libero
    voluptates, illo perspiciatis totam veritatis? Dolorem adipisci asperiores,
    odit sapiente quasi cupiditate voluptatem tempora ipsam suscipit
    voluptatibus in similique atque magni quos excepturi. Nihil nemo possimus
    reiciendis perspiciatis. Eos doloribus, iste, delectus animi fugit libero
    nobis nam ad asperiores magni dignissimos quas distinctio cumque labore
    earum, unde iure sit enim tenetur aspernatur? Nihil deserunt consequatur
    quia accusantium voluptates similique magni! Quidem porro placeat dolor
    fugit voluptatibus modi vero nam officiis optio adipisci distinctio, neque
    sapiente asperiores dolores similique illo debitis dignissimos voluptate,
    odio natus explicabo? Consectetur consequatur excepturi quidem deserunt.
  </p>
</div>
